*{
    padding: 0;
    margin: 0;
}

    
body{
    background-color: #ffaf45;
    color: black;
}

.navbar{
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

.brand{
    display: flex;
    align-items: center;
}

.brand img{
    width: 60px;
    height: 60px;
    margin: 0 15px 0 50px;
}

.brand h2{
    letter-spacing: 2px;
    
}

.nav-menu ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    justify-content: end;

}

.nav-menu ul li {
    display: inline;
    list-style-type: none;
}

.h2{
    position: sticky;
    top: 0px;
    background-color: #ffaf45;
    padding: 0;
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.nav-menu ul li a:hover{
    background-color: paleturquoise;
    color: black;
    font-size: 30px;
    
}




.circle{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/\/music.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maybe{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.ice{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px 0;
}

.ice .tag-line{
    margin: 50px 0;
}

.super{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}

.super-img{
    
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 20px;
}

.man-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.man-text h2{
    font-size: 50px;
    color: white;
}

.man-text p{
    padding: 30px;
    font-size: 20px;
}

.jav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}

.jav-img{
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 20px;
}


 .jav-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }  
 .jav-text h2{
    font-size: 50px;
    color: white;
 } 

 .jav-text p{
    padding: 30px;
    font-size: 20px;
 }

 .super-text{
    padding: 20px;
    text-align: center;
 }

 /* .btn{
    display: inline-block;
    padding: 20px 30px;
    margin: 20px 30px 120px 60px;
    background-color: paleturquoise;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    
 }  */

 .song{
    background-image: url(../images/music2.jpg);
    background-size: cover; 
     background-repeat: no-repeat;
    background-position: center;
    background-attachment: flex;
    background-color: rgba(0, 0, 0 , 0.6);
    background-blend-mode: multiply;
    

    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 70px;
 }

 .song-text{
    padding: 0 100px;

    color: white;

 }

.song-text h1{
    font-size: 50px;
    padding: 10px 0 20px 0;
    text-align: center;
}

.ptn{
    display: grid;
    

}

.ptn ul{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
    justify-content: start;
    padding: 20px;
    

}

.ptn ul li{
    display: inline;
    list-style-type: none;
    font-size: 30px;
    color: aqua;
}

.song-img{
    width: 50%;
    height: auto;
    border-radius: 20px;

}

.song-menu-title{
    margin: 100px 0 50px 0;
    font-size: 50px;
    color: white;
    text-align: center;
}

.song-menu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 20px;
    margin: 0 70px;
    gap: 20px;
}

.song-item{
    background-color: #ffaf45;
    border-radius: 10px;
    
}

.song-item .content{
    font-size: 20px;
    text-align: center;

}

.song-item .title{
    font-size: 30px;
    color: black;
    font-size: bold;
    margin-bottom: 10px;
}

.song-item .price{
    font-size: bold;
    color: black;    
}

.cody{
    display: block;
    margin-left: 600px;
    margin-top: 100px;
    

    
}

.form-group{
    padding: 10px;
    font-size: 20px;
    width: 30%;
    
}

.form-group input, .form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    


}

.footer{
    
        background-color: black;
        padding: 50px 0;
        color: white;
        text-align: center;
    }

    .btn{
        display: inline-block;
    padding: 10px 20px;
    background-color: #cda45e;
    text-decoration: none;
    color: white;
    border-radius: 5px;

    }
    .btn:hover{
        background-color: black;

    }
        

    

    

 
    
 